<header>
  <div class="socials">

  </div>
  <div class="logo-title">
    <h3>Nature as it Comes</h3>
  </div>
  <div class="search-cart-profile">
    <div class="search">

    </div>
    <div class="cart">

    </div>
    <div class="profile">

    </div>
  </div>
  <nav>

  </nav>
</header>
